#utility
  .toolbar
    = blank_image_tag(:class => "logo")
    %h1#loading_heading Automatic Organizer

  #loading
    %h2#loading_subhead Organize. Prioritize. Summarize.
  
    %p
      = image_tag('spinner.gif', :alt => "Loading indicator", :class => 'spinner')
      %span#loading_paragraph_1 Loading your Automatic Organizer settings...
    
  = render :partial => 'error'