config:
  username: 
  password: 
  host: myserver.com
  default_server: development
  doctype: HTML 4.0 Transitional
  growl: true
  version: 
  sprint_name:  
  
  verbose: false
  compress:
    obfuscate: true
    css: true
    embedded_js: true
    js_assets: true
  validate:
    html: 
      build: true
      deploy: true
    embedded_js:
      build: true
      deploy: true
    js_assets:
      build: true
      deploy: true
    json_assets:
      build: true
      deploy: true
        
