.lightbox-wrapper {
  background: transparent url('<%= @assets_directory %>/images/lightbox/lightbox_bg.png') 0 100% repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

.lightbox-container {
  background-color: #fff;
  margin: auto;
  margin-top: 25px;
  padding: 10px;
}

.lightbox-contents {
  height: 100%; 
  width: 100%; 
  margin: auto; 
  text-align: center;
}

.close_link {
  font-size: 14px; 
  text-align: right; 
  margin-top: -10px; 
  margin-right: 4px;
}
